@using PracticeApplication.Models
@model List<ComposerViewModel>

@{
    ViewData["Title"] = "Your Library - Composer Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Composer Index</h1>
    @foreach (ComposerViewModel m in Model)
    {
        <div>
            <h2>@Html.ActionLink($"{@m.LastName}, {@m.FirstName}", "ComposerDetail", new { id = m.Id })</h2>
            <p>@m.Birthdate.ToShortDateString() - @m.Died.ToShortDateString()</p>
        </div>
    }
    <div>
        @Html.ActionLink("Add Composer to Library", "AddComposer")
    </div>
</div>

